DB_USER=postgres
DB_PASSWORD=admin
DB_PORT=5432
DB_NAME=post-api

DATABASE_URL=postgresql://${DB_USER}:${DB_PASSWORD}@postgres:5432/${DB_NAME}
REDIS_URL=redis://redis:6379

# DATABASE_URL_LOCAL=postgresql://${DB_USER}:${DB_PASSWORD}@localhost:5432/${DB_NAME}
# REDIS_URL_LOCAL=redis://localhost:6379

REDIS_PORT=6379
APP_PORT=6767
FRONTEND_PORT=3000